body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url('https://scontent.fria2-1.fna.fbcdn.net/v/t39.30808-6/275170470_3876650215893581_2290855121975596795_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFIBvJv42m5H7-JTMWNZ8ZFdpt6mM3KND92m3qYzco0PxterzUtUnhl9ZyMryzOKegiUHlBP65dzvgRsSC6uHdh&_nc_ohc=UkeudWZVdYMAX-4DXGj&_nc_ht=scontent.fria2-1.fna&oh=00_AfDVN9ByHrVt87-M3aew7B-e_H2kUh-tTteYqYQfikz47Q&oe=65B31198'); /* Add your image path here */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

body {
    padding-right: 5%; 
}

.login-container {
    width: 400px;
    padding: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 50%; 
    position: relative; 
    z-index: 1;
}

.login-container h2 {
    color: #333; 
    font-size: 28px; 
    margin-bottom: 30px;
}



.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form > div {
    margin-bottom: 15px; 
    width: 100%;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: calc(100% - 10px); 
    margin: 5px;
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 25px; 
}

.submit-button {
    margin-top: 30px; 
    background-color: #fced20;
    color: #000000;
    width: calc(100% - 10px); 
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.register-link {
    margin-top: 15px;
    color: #000000;
    text-decoration: none; 
    font-size: 14px;
}

.senha-link {
    margin-top: 1px;
    color: #000000;  
    font-size: 12px;
}



/* registro */
.registration-container {
    width: 400px; 
    padding: 60px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    background-color: #ffffff; 
    margin-right: 50%; 
    position: relative;
    z-index: 1; 
}

.registration-container h2 {
    font-size: 32px; 
    color: #333; 
    margin-bottom: 10px; 
    
}

.registration-form label {
    text-align: center;
    display: block;
    margin-top: 5px; 
}
.registration-form {
    display: flex;
    flex-direction: column;
    
}

.registration-form > div {
   
    width: 100%; 
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form button {
    width: calc(100% - 30px); 
    margin: 5px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 30px; 
}

.login-link {
    margin-top: 15px;
    color: #000000;
    font-size: 14px; 
}

.registration-form button {
    margin-top: 15px; 
    background-color: #fced20; 
    color: #000;
    border: none;
    border-radius: 25px; 
    padding: 15px 0;
    cursor: pointer;
}



